﻿@model VinaVN.Models.ConfigModel

<div class="example-box-wrapper" style="margin-bottom:165px;">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    
    <form class="form-horizontal bordered-row" method="post" action="/Config/SaveConfigChange">
        <h3 class="content-box-header badge-yellow" style="margin-bottom:10px;">
            Lưu ý : Khi ngày hiện tại vượt quá ngày kết thúc chương trình thì hệ thống sẽ tự động thông báo MT đến khách hàng.
        </h3>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Ngày bắt đầu</label>
            <div class="col-sm-6">
                <div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                        <i class="glyph-icon icon-calendar"></i>
                    </span>
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "bootstrap-datepicker form-control" })
                </div>
                @*<div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                        <i class="glyph-icon icon-calendar"></i>
                    </span>
                    <input name="StartTime" class="timepicker-example form-control" type="text">
                </div>*@
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Ngày kết thúc</label>
            <div class="col-sm-6">
                <div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                        <i class="glyph-icon icon-calendar"></i>
                    </span>
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "bootstrap-datepicker form-control" })
                </div>
                @*<div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                        <i class="glyph-icon icon-calendar"></i>
                    </span>
                    <input name="EndTime" class="timepicker-example form-control" type="text">
                </div>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3" style="text-align:right;">
                &nbsp;
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" type="submit">Lưu thay đổi...</button>
            </div>
        </div>
    </form>
    @Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")
</div>