﻿@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: '/PinCode/AjaxLoadBlockListForAccount/',
            data: 'subKeyId=' + $("#SubKeyID").val(),
            success: function (response) {
                $(".block-list-content").html(response);
                $(".block-list-content").addClass('form-group');
            },
            error: function () {

            }
        });
        $("#SubKeyID").change(function () {
            $.ajax({
                type: 'POST',
                url: '/PinCode/AjaxLoadBlockListForAccount/',
                data: 'subKeyId=' + $(this).val(),
                success: function (response) {
                    $(".block-list-content").html(response);
                    $(".block-list-content").addClass('form-group');
                },
                error: function () {

                }
            });
        });
    });
</script>

<div class="form-group">
    <label class="col-sm-4 control-label">Chọn subkey : </label>
    <div class="col-sm-6">
        <i class="fa"></i>
        @Html.DropDownList("SubKeyID", (SelectList)ViewBag.SubKeyList, new { @class = "form-control" })
    </div>
</div>