﻿@using VinaVN.Code
@model VinaVN.Models.PinCodeImportViewModel
@{
    Layout = "";
}

<div>
    <div class="md-content">
        <div>
            <form method="post" role="form" action="/PinCode/Import" enctype="multipart/form-data" class="icon-validation">
                <div class="form-group">
                    <label class="control-label">Chọn sheet</label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.EnumDropDownListFor(model => model.ExcelSheetAt, null, false,"", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Chọn cột chứa pin code</label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.EnumDropDownListFor(model => model.ExcelColunmPinCode, null, false, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Chọn Block</label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.DropDownList("PinCodeBlockID", (SelectList)ViewBag.BlockList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" name="fileImport" id="fileImport" /> <br />
                    <label class="control-label" style="color:#ff0000;">Lưu ý : File excel chứa dữ liệu phải định dạng về Excel (*.xlsx)</label>
                    <div class="form-group text-center">
                        <button class="btn btn-success" type="submit" name="Import" id="Import">Nhập</button>
                        <br /><span style="color:#ff0000;">Thao tác Import với lượng mã code > 1000 có thể mất nhiều thời gian. <br />Quý khách vui lòng chờ</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
