﻿@using VinaVN.Code
@model VinaVN.Models.PinCodeViewModel

<div id="page-title">
    <h2>PinCode</h2>
    <p>Danh sách PinCode</p>
</div>
<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                {
                    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
                        @ViewBag.SuccessMessage @*<a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterImport/?type=@Utility.PinCodeListType.Success&blockId=@ViewBag.BlockID">Tải về</a>*@
                    </h3>
                }
                @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                        @ViewBag.ErrorMessage
                    </h3>
                }
                @if (ViewBag.FailListCount != null && ViewBag.FailListCount != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                       @ViewBag.FailListCount. @*<a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterImport/?type=@Utility.PinCodeListType.Duplicated&blockId=@ViewBag.BlockID">Tải về</a>*@
                    </h3>
                }
                @if (ViewBag.WrongSyntaxListCount != null && ViewBag.WrongSyntaxListCount != "")
                {
                    <h3 class="content-box-header badge-warning" style="margin-bottom:10px;">
                        @ViewBag.WrongSyntaxListCount. @*<a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterImport/?type=@Utility.PinCodeListType.WrongSyntax&blockId=@ViewBag.BlockID">Tải về</a>*@
                    </h3>
                }
                <form class="form-horizontal" method="post" action="/PinCode">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pin Code</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", placeholder = "Nhập PinCode cần tra cứu..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Block</label>
                        <div class="col-sm-6">
                            <i class="fa"></i>
                            
                            @Html.DropDownList("PinCodeBlockID", (SelectList)ViewBag.BlockList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Trạng thái</label>
                        <div class="col-sm-6">
                            @Html.EnumDropDownListFor(model => model.PinCodeStatus, null, true, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Từ ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Đến ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" name="submitButton" value="Tra cứu..." class="btn btn-success" />
                            @*<input type="submit" name="submitButton" value="Export" class="btn btn-azure" />*@
                        </div>
                    </div>
                </form>
            </div>
            @if (Request["PinCodeStatus"] == null || (Convert.ToInt32(Request["PinCodeStatus"]) != (int)Utility.PinCodeStatus.Used))
            {
                <div style="margin-bottom:10px;">
                    <a href="/PinCode/AjaxShowFormImport" class="btn btn-alt btn-hover btn-info fancybox fancybox.ajax">Nhập Pincode từ file &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a> &nbsp;
                    
                    <a href="/PinCode/CreateBlock" class="btn  btn-alt btn-hover btn-yellow fancybox fancybox.ajax">Tạo mới block &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a>&nbsp;&nbsp;
                    <a href="/PinCode/AddPinCode" class="btn  btn-alt btn-hover btn-success fancybox fancybox.ajax">Thêm Pin Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a>
                </div>
            }
            else
            {
                @*<a href="/PinCode/ProcessExport/?PinCodeStatus=2" class="btn  btn-alt btn-hover btn-warning ">Xuất Pincode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a>*@
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PinCode</th>
                        @*<th>Serial 2</th>*@
                        <th>Block</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DataList != null && Model.DataList.Count() > 0)
                    {
                        foreach (Vina.DTO.PinCodeObj pc in Model.DataList)
                        {
                            string color = "";
                            if(pc.PinCodeStatus == Utility.PinCodeStatus.Deleted)
                            {
                                color = "#AA0000";
                            }
                            <tr style="color:@color;">
                                <td>@pc.ID</td>
                                <td>@pc.PinCode</td>
                                @*<td>@pc.Serial2</td>*@
                                <td>@pc.ExtentionProperty["PinCodeBlockName"]</td>
                                <td>
                                   @pc.PinCodeStatus.ToString()
                                </td>
                                <td>@pc.CreatedDate</td>
                                <td>@pc.UpdatedDate</td>
                                <td>
									@if (pc.PinCodeStatus != Utility.PinCodeStatus.Used)
									{
										 if (pc.PinCodeStatus == Utility.PinCodeStatus.JustCreated)
										 {
											<a href="/PinCode/Delete/?pcid=@pc.ID" data-original-title="Hủy pin code này" title="Hủy pin code này" class="glyph-icon demo-icon tooltip-button icon-remove"></a>
										 }
										 else if (pc.PinCodeStatus == Utility.PinCodeStatus.Deleted)
										 {
											<a href="/PinCode/Active/?pcid=@pc.ID" data-original-title="Sử dụng lại pin code này" title="Sử dụng lại pin code này" class="glyph-icon demo-icon tooltip-button icon-check"></a>
										 }
									}
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")
