﻿@{
	Layout = "";
}
@model VinaVN.Models.CustomerEditModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>
	.field-validation-error{
		color:red;
	}
</style>

<div>
	<div class="md-content">
		<h3 style="color:#ffd800;">CHỈNH SỬA THÔNG TIN KHÁCH HÀNG</h3>
		<div>
			<form method="post" role="form" action="/Customer/Edit" enctype="multipart/form-data" class="icon-validation">
				@Html.HiddenFor(model=>model.ID)
				<div class="form-group">
					<label class="control-label">Tên khách hàng</label>
					<div class="input-icon right">
						<i class="fa"></i>
						@Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CustomerName)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Địa chỉ</label>
					<div class="input-icon right">
						<i class="fa"></i>
						@Html.TextBoxFor(model => model.CustomerAddress, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CustomerAddress)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<div class="input-icon right">
						<i class="fa"></i>
						@Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CustomerEmail)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Thông tin khác</label>
					<div class="input-icon right">
						<i class="fa"></i>
						@Html.TextAreaFor(model => model.CustomerNote, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CustomerNote)
					</div>
				</div>
				<div class="form-group">
					<div class="form-group text-center">
						<button class="btn btn-success" type="submit" name="Import" id="Import">Lưu lại</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>