﻿@using VinaVN.Code
@model VinaVN.Models.PinCodeBlockViewModel

@{
    List<Vina.DTO.PinCodeBlock> blockList = ViewBag.ListBlock;
}

<div id="page-title">
    <h2>Block</h2>
    <p>Danh sách PinCode Block.</p>
</div>
<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                {
                    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
                        @ViewBag.SuccessMessage
                    </h3>
                }
                @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                        @ViewBag.ErrorMessage
                    </h3>
                }
                @if (ViewBag.FailListCount != null && ViewBag.FailListCount != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                        @ViewBag.FailListCount. <a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterImport/?type=@Utility.PinCodeListType.Duplicated&blockId=@ViewBag.BlockID">Tải về</a>
                    </h3>
                }
                @if (ViewBag.WrongSyntaxListCount != null && ViewBag.WrongSyntaxListCount != "")
                {
                    <h3 class="content-box-header badge-warning" style="margin-bottom:10px;">
                        @ViewBag.WrongSyntaxListCount.<a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterImport/?type=@Utility.PinCodeListType.WrongSyntax&blockId=@ViewBag.BlockID">Tải về</a>
                    </h3>
                }
            </div>
           
            <table class="table table-bordered">
                <thead>
                    <tr>
                       <th>
                           Tên block
                       </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Ngày cập nhật
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (blockList != null && blockList.Count() > 0)
                    {
                        foreach (Vina.DTO.PinCodeBlock pb in ViewBag.ListBlock)
                        {
                            <tr>
                                <td>@pb.PinCodeBlockName</td>
                                <td>@pb.CreatedDate</td>
                                <td>@pb.UpdatedDate</td>
                                <td>
                                    @if (pb.PinCodeBlockStatus != Utility.PinCodeBlockStatus.Deleted)
                                    {
                                        <a href="/PinCodeBlock/Delete/?pbid=@pb.ID" data-original-title="Hủy block này" title="Hủy block này" class="glyph-icon demo-icon tooltip-button icon-remove" onclick="return confirm('Bạn có chắc muốn xóa block này? Toàn bộ mã pin trong block sẽ bị xóa.');"></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")
