﻿@model VinaVN.Models.ChangePasswordViewModel
@{
    Vina.DTO.Account accLogin = ViewBag.AccountLogin;
    if(accLogin.ParentId == 0)
    {
        Layout = "~/Views/Shared/_managerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<form class="form-horizontal bordered-row" method="post" action="" style="min-height:430px;">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    
    
    <div class="form-group">
        <label class="col-sm-3 control-label">Mật khẩu hiện tại : </label>
        <div class="col-sm-6">
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Mật khẩu hiện tại" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Mật khẩu mới : </label>
        <div class="col-sm-6">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Mật khẩu mới : </label>
        <div class="col-sm-6">
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3" style="text-align:right;">
            &nbsp;
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success" type="submit">Thực thi...</button>
        </div>
    </div>
</form>