﻿@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
    List<Vina.DTO.Keyword> listKeyword = ViewBag.ListKeyword;
}

@*<script type="text/javascript">
    $(document).ready(function () {
        $('.show-caption').hover(function () {
            var accId = $(this).attr("accountid");
            $('#span-subkey-' + accId).show();
        });
        $('.show-caption').mouseleave(function () {
            var accId = $(this).attr("accountid");
            $('#span-subkey-' + accId).hide();
        });
    });
</script>*@

<div class="example-box-wrapper border-azure">
    @*<h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            Click vào Sub Keyword để login vào tài khoản quản lý sub keyword.
        </h3>*@
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    @if (ViewBag.IsGenerate)
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
           <a style="color:#fff;text-decoration:underline;" href="/PinCode/ExportListAfterGenerate/?type=@Utility.PinCodeListType.Success&blockId=565321">Tải về</a>
        </h3>
    }
    
    <div class="content-box  dashboard-buttons clearfix" style="text-align:center;min-height:250px;padding-top:20px;padding-bottom:40px;">
        @if (listKeyword != null)
        {
            if (listKeyword.Count() > 0)
            {
                foreach (Vina.DTO.Keyword key in listKeyword)
                {
                    <span id="subkey-@key.AccountManagerID" accountid="@key.AccountManagerID" class="btn vertical-button border-black  show-caption" title="" style="width:300px;height:230px;margin:20px;">
                        <span class="glyph-icon icon-separator-vertical">
                            <img src="~/Content/monarch/img/keyword_logo.png" style="width:100px;" />
                        </span>
                        <span class="button-content">
                            <span style="font-style:italic;font-weight:bold;font-size:16pt;">Keyword : @key.KeywordValue </span><br />
                            @if (key.KeywordStatus == Utility.KeywordStatus.DeActive)
                            {
                                <span style="font-style:italic;font-weight:bold;font-size:16pt;color:#ff0000;text-decoration:line-through">
                                    @("Ngưng kích hoạt")
                                </span>
                            }
                            else
                            {
                                <span style="font-style:italic;font-weight:bold;font-size:16pt;color:#00ff21;">
                                    @("Kích hoạt")
                                </span>
                            }
                            <br />
                            <div id="span-subkey-@key.AccountManagerID" style="color:#ff0000;font-weight:bold;text-decoration:underline;padding-left:30px;">
                                <a href="/Keyword/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.Active)"><i class="glyph-icon tooltip-button demo-icon icon-check" title="Kích hoạt" data-original-title="Kích hoạt"></i></a>
                                <a href="/Keyword/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.DeActive)"><i class="glyph-icon tooltip-button demo-icon icon-close" title="Ngưng kích hoạt" data-original-title="Ngưng kích hoạt"></i></a>
                                <a href="/Keyword/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.Deleted)"><i class="glyph-icon tooltip-button demo-icon icon-recycle" title="Xóa" data-original-title="Xóa"></i></a>
                                <a href="/SubKey/?KeywordID=@key.ID"><i class="glyph-icon tooltip-button demo-icon icon-list" title="Xem toàn bộ subkey" data-original-title="Xem toàn bộ subkey"></i></a>
                            </div>
                        </span>
                    </span>
                }
            }
        }
    </div>
</div>
