﻿@model VinaVN.Models.MtConfigViewModel

<script type="text/javascript">

    //$(document).ready(function () {
    //    $('#NumCharMtForSuccess').html($('#MtForSuccess').val().length);
    //    $('#NumCharMtForWrongSystax').html($('#MtForWrongSystax').val().length);
    //    $('#NumCharMtForWrongPinCode').html($('#MtForWrongPinCode').val().length);
    //    $('#NumCharMtForPinCodeIsUsed').html($('#MtForPinCodeIsUsed').val().length);
    //    $('#NumCharMtForTimeOutOfThisCampaign').html($('#MtForSubKeyIsDeactive').val().length);

    //    $('#MtForSuccess').keyup(function () {
    //        if ($(this).val().length > 159) {
    //            alert("Tin MT dài tối đa 160 ký tự");
    //            $(this).val($(this).val().substr(1, 159))
    //        }
    //        $('#NumCharMtForSuccess').html($(this).val().length + 1);
    //        //$(this).val(remove_unicode($(this).val()));
    //    });
    //    $('#MtForWrongSystax').keyup(function () {
    //        if ($(this).val().length > 160) {
    //            alert("Tin MT dài tối đa 160 ký tự");
    //            $(this).val($(this).val().substr(1, 159))
    //        }
    //        $('#NumCharMtForWrongSystax').html($(this).val().length + 1);
            
    //        //$(this).val(remove_unicode($(this).val()));
    //    });
    //    $('#MtForWrongPinCode').keyup(function () {
    //        if ($(this).val().length >= 160) {
    //            alert("Tin MT dài tối đa 160 ký tự");
    //            $(this).val($(this).val().substr(1, 159))
    //        }
    //        $('#NumCharMtForWrongPinCode').html($(this).val().length + 1);
            
    //        //$(this).val(remove_unicode($(this).val()));
    //    });
    //    $('#MtForPinCodeIsUsed').keyup(function () {
    //        if ($(this).val().length > 160) {
    //            alert("Tin MT dài tối đa 160 ký tự");
    //            $(this).val($(this).val().substr(1, 159))
    //        }
    //        $('#NumCharMtForPinCodeIsUsed').html($(this).val().length + 1);
            
    //        //$(this).val(remove_unicode($(this).val()));
    //    });
    //    $('#MtForSubKeyIsDeactive').keyup(function () {
    //        if ($(this).val().length > 160) {
    //            alert("Tin MT dài tối đa 160 ký tự");
    //            $(this).val($(this).val().substr(1, 159))
    //        }
    //        $('#NumCharMtForTimeOutOfThisCampaign').html($(this).val().length + 1);
    //        //$(this).val(remove_unicode($(this).val()));
    //    });
    //});
</script>

<div class="example-box-wrapper ">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
   @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
   {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
   }
    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
        Lưu ý: Nội dung tin MT chỉ hỗ trợ<!--tối đa 160 ký tự (bao gồm khoảng trắng) và --> định dạng tiếng Việt không dấu để
        đảm bảo hiển thị đầy đủ nội dung trên thiết bị di động của người nhận tin.
    </h3>
    <form class="form-horizontal bordered-row" method="post" action="/MtConfig/SaveConfigChange">
        <div class="form-group">
            <label class="col-sm-3 control-label">MT thành công 1</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.MtForSuccess, 5, 55, new { @class = "form-control", placeholder = "Nội dung tin nhắn thành công 1..." })
                <br />Số ký tự đã nhập : <span id="NumCharMtForSuccess">0</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">MT sai cú pháp</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.MtForWrongSystax, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi sai cú pháp..." })
                <br />Số ký tự đã nhập : <span id="NumCharMtForWrongSystax">0</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">MT sai Pincode</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.MtForWrongPinCode, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi sai pincode..." })
                <br />Số ký tự đã nhập : <span id="NumCharMtForWrongPinCode">0</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">MT trùng Pincode</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.MtForPinCodeIsUsed, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi trùng pincode..." })
                <br />Số ký tự đã nhập : <span id="NumCharMtForPinCodeIsUsed">0</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">MT khi Sub Account bị deactive</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.MtForSubKeyIsDeactive, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi chương trình đã kết thúc..." })
                <br />Số ký tự đã nhập : <span id="NumCharMtForTimeOutOfThisCampaign">0</span>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-3 control-label">MT khi sai syntax giới thiệu</label>
			<div class="col-sm-6">
				@Html.TextAreaFor(model => model.MtForWrongSyntax2, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi sai syntax giới thiệu..." })
				<br />Số ký tự đã nhập : <span id="NumCharMtForTimeOutOfThisCampaign">0</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">MT cho người giới thiệu</label>
			<div class="col-sm-6">
				@Html.TextAreaFor(model => model.MtForSuccess2, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về cho người giới thiệu..." })
				<br />Số ký tự đã nhập : <span id="NumCharMtForTimeOutOfThisCampaign">0</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">MT cho người nhận chiết khấu</label>
			<div class="col-sm-6">
				@Html.TextAreaFor(model => model.MtForSuccess3, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về cho người nhận chiết khấu..." })
				<br />Số ký tự đã nhập : <span id="NumCharMtForTimeOutOfThisCampaign">0</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Khách hàng không tồn tại</label>
			<div class="col-sm-6">
				@Html.TextAreaFor(model => model.MtForWrongCustomer, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi mã khách hàng không tồn tại..." })
				<br />Số ký tự đã nhập : <span id="NumCharMtForTimeOutOfThisCampaign">0</span>
			</div>
		</div>
        <div class="form-group">
            <div class="col-sm-3" style="text-align:right;">
                &nbsp;
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" type="submit">Lưu thay đổi...</button>
            </div>
        </div>
    </form>
</div>